# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Cypress output
cypress/videos/
cypress/screenshots/

# Cypress configuration
cypress.env.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore the entire Cypress cache
.cache/
